{% extends "layout.html" %}

{% block body %}

<h3>Hakkımızda</h3>
<hr>
<p>
        Doğuş Grubu, 300’ün üzerindeki şirketi ve 25 bini aşkın çalışanıyla müşterilerine üstün teknoloji, yüksek marka kalitesi ve dinamik bir insan kaynağı ile hizmet vermektedir.
        Modern hayatı şekillendiren yeni keşiflerin öncülüğünü üstlenerek daha iyi bir yaşamın standartlarını oluşturmak için çalışan Doğuş Grubu, 1951 yılında kurulmuştur. Müşterilerinin yanı sıra çalışanları, iş ortakları ve hatta rakipleri için bir tutkuya dönüşecek, sınıfının en iyisi yaşam tarzı markalarını bünyesinde barındıran Doğuş, çalıştığı alanlarda küresel bir oyuncu olma hedefiyle çalışmalarına devam etmektedir.
        
        Otomotiv, inşaat, medya, turizm ve hizmetler, gayrimenkul, enerji ve yeme-içme olmak üzere yedi sektörde faaliyet gösteren Doğuş Grubu ayrıca, mevcut hizmet verdiği sektörlerin yanı sıra teknoloji, spor ve eğlence alanındaki yeni yatırımlarıyla da büyümesini sürdürmektedir. Grup 300’ün üzerindeki şirketi ve 25 bini aşkın çalışanıyla müşterilerine üstün teknoloji, yüksek marka kalitesi ve dinamik bir insan kaynağı ile hizmet vermektedir.
        
        Doğuş Grubu’nun ulaştığı başarının arkasında, müşteri odaklı ve verimliliği merkez alan bir yönetim yaklaşımı yer almaktadır. Bu yaklaşımın bir sonucu olarak, Grup dünya ölçeğinde saygın markalarla yaptığı iş birlikleriyle, Türkiye’yi bütün dünyada temsil etmektedir. Doğuş Grubu’nun, otomotivde Volkswagen AG ve TÜVSÜD, medyada Condé Nast (Vogue, GQ), turizmde Hyatt International Ltd., marinacılıkta Latsis Grubu ve Adriatic Croatia International (ACI) Grubu’nun yanı sıra yeme-içme ve eğlence sektöründe de bünyesinde Coya, Roka, Zuma ve Oblix gibi markaları bulunduran uluslararası Azumi Grubu ile Amazonico, Ten Con Ten, El Paraguas markalarına sahip Paraguas Group ve e-ticaret alanında Güney Koreli SK Group gibi büyük küresel oyuncularla işbirlikleri ve ortaklıkları bulunmaktadır.
        
        Doğuş Grubu’nun yönetim yaklaşımı, bütün toplumun yararlandığı ve yararlanacağı kurumsal yurttaşlık bilincini de yansıtmaktadır. Doğuş Grubu, sosyal sorumluluk çalışmalarını yürütürken insanların hayatlarında bir iz bırakmayı ve günlük yaşamı daha iyi bir hale getirmeyi amaçlamaktadır. Grubun sosyal sorumluluk projeleri toplumun sürekli ileriye giden ve gelişen bir gelecek yaratmasına katkıda bulunmak hedefiyle yönetilmektedir.
        
        Hayata geçirdiği tüm kurumsal sosyal sorumluluk ve sponsorluk projelerinde sorumluluklarının bilincinde olan Doğuş Grubu, topluma öncü ve örnek olma amacıyla hareket ederken, yatırımlarıyla ülke ekonomisine ve istihdama katkı sağlamaktadır.
        
        Türkiye’de değişimin öncüleri arasında yer alan Doğuş Grubu, sahip olduğu geniş hizmet, bilgi ve iş birliği ağını hedeflerine ulaşmada en iyi şekilde değerlendirmektedir. Doğuş Grubu standartları belirleyen, keşfederek ilerleyen küresel bir oyuncu olma vizyonuyla, ülke ekonomisine faydalı olacağına inandığı iş birliği ve yatırım fırsatlarını incelemeye devam etmektedir.
</p>
  
{% endblock body %}

